# 忽略本地依賴與編譯暫存（絕對不可以 Push 到 GitHub！）
node_modules/
.vite/
dist/
dist-ssr/
*.local

# 忽略編輯器與系統設定檔案
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 忽略環境變數檔案 (如果你未來有使用的話)
.env
.env.local
.env.*.local
