# 忽略本地依賴與資料庫敏感資訊
node_modules/
supabase_setup.sql
.vite/
dist/
dist-ssr/
*.local

# 忽略編輯器與系統設定檔案
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 忽略環境變數檔案 (如果你未來有使用的話)
.env
.env.local
.env.*.local
